<% include header.ejs %>

  <div class="box">
    <h1>Bulletin Board</h1>
    <h3>Messages</h3>
  </div>
  <br>
  <div class="box" id="show">
  <h1><%= message.title %></h1>
  <h3><%= message.body %></h3>
  </div>
  <% include footer.ejs %>

</body>
</html>
